body {
	font-family: helvetica;
}

.container {
	/*background: #f4f4f4;*/
	margin: 2em auto;
	padding: 0.8em;
	width: 30em;
}

img {
	margin-left: 77px;
}

h2 {
	text-align: center;
	color: green;
}

.flash, .error {
	background: #000;
	color: #fff;
	padding: 0.5em;
}

table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 15px;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}